*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #ffffff;
    line-height: 1.6;
    padding: 0;
    background-image: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
    ),
    url("assets/background.jpg");

    background-size: cover;
    background-position: center;
    height: 100vh;


}

header{
    border:0;
    color: #ffffff;
    padding: 0px 150px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.boxes{
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

#selector{
    color:  #ffffff;
    padding: 10px;
    font-size: 16px;
    border-radius: 10%;
    background:transparent;
    backdrop-filter: blur;
    border:2px solid;
}
#signor{
    background-color: #E50914;
    color:#ffffff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5%;
    backdrop-filter: blur ;
    border: 2px solid #E50914;
    font-family: monospace;
}

.home{
    font-size:larger;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    max-width: 100%;
    height:70vh
}

